/* .dark-theme {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --secondary-color-text: #fff;
  --contact-section: #fff;
  --about-button: #212121;
  --marksoc-blue: #2d99c7;
} */

:root {
  --about-button: #2d99c7;
  --marksoc-blue: #2d99c7;
  --contact-section: rgb(24, 24, 24);
  --primary-color: #000106;
  --secondary-color: #fff;
  --secondary-color-text: #fff;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 2rem;
  gap: 2rem;
  margin: 100px auto;
  color: var(--secondary-color);
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  border: 0;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: var(--contact-section);
  /* background: linear-gradient(to right, #ffffff, #ece9e6); */
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #56ccf2;
  /* background: linear-gradient(to bottom, #2f80ed, #56ccf2); */
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
}

.user {
  display: flex;
  gap: 0.5rem;
}

.user__image {
  height: 50px;
  border-radius: 100px;
}

.user__info > small {
  color: #666;
}

.blog-hero {
  background: url('https://images.unsplash.com/photo-1533750516457-a7f992034fec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1206&q=80');
  height: 60vh;
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.3);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.blog-hero h1 {
  font-size: 64px;
  font-weight: 600;
}
.blog-content {
  padding: 30px 200px;
}
@media only screen and (max-width: 600px) {
  .blog-hero {
    padding: 0 20px;
  }
  .blog-hero h1 {
    font-size: 42px;
    font-weight: 600;
  }
  .blog-content {
    padding: 30px 20px;
  }
}
